<a href="https://colab.research.google.com/github/luislauriano/Materiais-de-estudo/blob/master/Banco%20de%20Dados%20em%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Acessando Banco de Dados com Python**

In [41]:
import os
os.remove("escola (1).db") if os.path.exists("escola (1).db ") else None

In [42]:
#Evitar erro de que a tabela já existe
try:
		os.remove("escola (1).db") 
except OSError:      
		pass

In [43]:
import sqlite3

In [44]:
#Criando uma conexao com o banco de dados Sqlite3
con  = sqlite3.connect('escola (1).db')

In [45]:
type(con)

sqlite3.Connection

In [46]:
#Criando um cursor 
#Um cursor permite percorrer todos os registros em um conjunto de dados
cur = con.cursor()

In [47]:
type(cur)

sqlite3.Cursor

In [48]:
# Cria uma instrução (tabela) sql
sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [49]:
# Executando a instrução sql no cursor/Criando a tabela
cur.execute(sql_create)

# **Usando cursor para inserir Registros**

In [50]:
#Criando sentença (DML) para inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [51]:
#Dados 
recset = [(1000, 'Ciência de Dados', 'Data Science'), 
         (1001, 'Big Data Fundamentos', 'Big Data'),
         (1002, 'Python Fundamentos', 'Analise de Dados')]

In [52]:
#Inserindo os registros
for rec in recset:
  cur.execute(sql_insert, rec)

In [53]:
#Gravar a transação (os dados na tabela)
con.commit()

In [54]:
#Criando sentença SQL para selecionar os registros
sql_select = 'select *from cursos'

In [55]:
#Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [56]:
#Mostrar a tabela
for linha in dados:
  print('Curso Id: %d, titulo: %s, categoria: %s \n' % linha)

Curso Id: 1000, titulo: Ciência de Dados, categoria: Data Science

Curso Id: 1001, titulo: Big Data Fundamentos, categoria: Big Data

Curso Id: 1002, titulo: Python Fundamentos, categoria: Analise de Dados

In [57]:
#Gerando outros registros

recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros
for rec in recset:
  cur.execute(sql_insert, rec)

# Gravando a transação
con.commit()

In [58]:
#Seleciona todos os registros 
cur.execute('select * from cursos')

#Recupera os resultados
recset = cur.fetchall()

#Mostra 
for rec in recset:
  print('Curso Id: %d, titulo: %s, categoria: %s \n' % rec)

Curso Id: 1000, titulo: Ciência de Dados, categoria: Data Science

Curso Id: 1001, titulo: Big Data Fundamentos, categoria: Big Data

Curso Id: 1002, titulo: Python Fundamentos, categoria: Analise de Dados

Curso Id: 1003, titulo: Gestão de Dados com MongoDB, categoria: Big Data

Curso Id: 1004, titulo: R Fundamentos, categoria: Análise de Dados

In [59]:
#Fecha a conexao 
con.close()

# **Algo que pode ser feito é utilizar o SQLite Browser para consultar os dados da tabela**

# **Criando o Banco de Dados e Inserindo Dados**

In [60]:
#Evitar erro de que a tabela já existe
try:
		os.remove("dsa.db") 
except OSError:      
		pass

In [66]:
import sqlite3 

#Criando uma conexao
conn = sqlite3.connect('dsa.db')

#Criando um cursor
c = conn.cursor()

#Função para criar uma tabela 
def create_table():
  c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
            'prod_name TEXT, valor REAL)')

#Função para inserir os dados na tabela
def data_insert():
  c.execute("INSERT INTO produtos VALUES(10, '2018-05-02 14:32:11', 'Teclado', 90) ")
  conn.commit()
  c.close()
  conn.close()

In [64]:
#Criar a tabela
create_table()

In [65]:
#Inserir dados
data_insert()

# **Instruções Insert no SQLite com Variaveis em Python**

In [67]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão 
conn = sqlite3.connect('dsa.db')

# Criando um cursor
c = conn.cursor()

# Função para criar uma tabela 
def create_table():
  c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
            'prod_name TEXT, valor REAL)')

# Função para inserir os dados na tabela
def data_insert():
  c.execute("INSERT INTO produtos VALUES('2018-05-02 12:34:45', 'Teclado', 130.00)")
  conn.commit()
  c.close()
  conn.close()

#Usando variáveis do Python para inserir novos dados na tabela
def data_insert_var(): 
  new_date = datetime.datetime.now()
  new_prod_name = 'Monitor'
  new_valor = random.randrange(50, 100)
  c.execute('INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)', (new_date, new_prod_name, new_valor))
  conn.commit()

In [68]:
#Gerando valores e inserindo na tabela
for i in range(10):
  data_insert_var()
  time.sleep(1)

In [69]:
#Encerrando a conexão
c.close()
conn.close()

# **Instruções Select no SQLite com Python**

In [78]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão 
conn = sqlite3.connect('dsa.db')

# Criando um cursor
c = conn.cursor()

# Função para criar uma tabela 
def create_table():
  c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
            'prod_name TEXT, valor REAL)')

# Função para inserir os dados na tabela
def data_insert():
  c.execute("INSERT INTO produtos VALUES('2018-05-02 12:34:45', 'Teclado', 130.00)")
  conn.commit()
  c.close()
  conn.close()

#Usando variáveis do Python para inserir novos dados na tabela
def data_insert_var(): 
  new_date = datetime.datetime.now()
  new_prod_name = 'Monitor'
  new_valor = random.randrange(50, 100)
  c.execute('INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)', (new_date, new_prod_name, new_valor))
  conn.commit()



# Leitura de dados
def ler_todos_dados():
  c.execute("SELECT * FROM PRODUTOS")
  for linha in c.fetchall():
    print(linha)

# Leitura de registros específicos
def leitura_registros():
  c.execute("SELECT * FROM PRODUTOS WHERE valor > 60.0")
  for linha in c.fetchall():
    print(linha)

# Leitura de colunas específicas
def leitura_colunas():
  c.execute("SELECT * FROM PRODUTOS")
  for linha in c.fetchall():
    print(linha[3])

In [75]:
#Select nos dados
ler_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2020-12-15 14:56:21.212040', 'Monitor', 55.0)
(12, '2020-12-15 14:56:22.223990', 'Monitor', 71.0)
(13, '2020-12-15 14:56:23.233973', 'Monitor', 68.0)
(14, '2020-12-15 14:56:24.244177', 'Monitor', 64.0)
(15, '2020-12-15 14:56:25.253699', 'Monitor', 59.0)
(16, '2020-12-15 14:56:26.264720', 'Monitor', 60.0)
(17, '2020-12-15 14:56:27.275449', 'Monitor', 81.0)
(18, '2020-12-15 14:56:28.285923', 'Monitor', 52.0)
(19, '2020-12-15 14:56:29.297618', 'Monitor', 54.0)
(20, '2020-12-15 14:56:30.308183', 'Monitor', 83.0)

In [76]:
#Leitura de registros especificos 
leitura_registros()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(12, '2020-12-15 14:56:22.223990', 'Monitor', 71.0)
(13, '2020-12-15 14:56:23.233973', 'Monitor', 68.0)
(14, '2020-12-15 14:56:24.244177', 'Monitor', 64.0)
(17, '2020-12-15 14:56:27.275449', 'Monitor', 81.0)
(20, '2020-12-15 14:56:30.308183', 'Monitor', 83.0)

In [79]:
# Leitura de colunas especificas
leitura_colunas()

90.0
55.0
71.0
68.0
64.0
59.0
60.0
81.0
52.0
54.0
83.0

In [80]:
# Encerrando a conexao
c.close()
conn.close()